/*#page{
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 900px;
    align-items: center;
    flex-direction: column;
}*/
.header{
    background-color: gainsboro;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 800px;
    padding: 10px;
}
.sidebar{
    display: flex;
    /*flex-direction: column;*/
    margin: 0 auto;
    width: 800px;
    justify-content: space-between;
}
#slide1{
    border: 3px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#likes{
    width:80px;
    height: 30px;
    background-color: rgb(175, 175, 33);
    box-shadow: 4px 2px black;
}
#slide3{
    border: 3px;
    width: 300px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 10px;
    height: 150px;
    
}
#def{
    margin: 10px;
    width:250px;
    height: 30px;
    background-color: rgb(92, 189, 88);
    box-shadow: 4px 2px black;
}
#textdef{
    width: 50%;
    margin-left: 10px;
    align-self: center;
}
